<div class="profile-container">
  <h1 class="title"><%= currentUser.name %>'s </h1>

  <div id="navbar"></div>
    <ul>
      <li><a href="/">Home</a></li>
      <% if (!currentUser) {%>
        <li><a href="/auth/signup">Signup</a></li>
        <li><a href="/auth/login">Login</a></li>
    <% } else { %>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/auth/logout">Logout</a></li>
      <li><a href="/profile/edit">Edit Profile</a></li>
    <% } %>
    </ul>
  </div>

  <div class="list-container">
    <h2 id="watchlistTitle">Watchlist</h2>
    <% animes.forEach(a => { %>
       <div class="card-container">
        <div class="card" style="width: 15rem;">
          <img class="card-img-top" src=<%= a.image_url %> alt="Anime Image" style="max-width: 300px;">
          <div class="card-body">
            <a href="/profile/<%= a.id %> " class="card-title">"<em><%= a.title %></em>" </a>
            <p>Total Episodes: <%= a.episodes %> </p>
            <br>
            <form method="POST" action="/profile/<%= a.id %>/?_method=DELETE">
              <button type="submit" id="delete-btn">Remove</button>
            </form>
          </div>
        </div>
      </div>
    <% }) %>  
  </div>
</div>