<h2 class="title">Results</h2>
<h2 class="title-shadow">Results</h2>

<div id="navbar">
  <ul>
    <li><a href="/">Home</a></li>
    <!-- <li><a href="#">Characters</a></li> -->
    <% if (!currentUser) {%>
      <li><a href="/auth/signup">Signup</a></li>
      <li><a href="/auth/login">Login</a></li>
  <% } else { %>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/auth/logout">Logout</a></li>
  <% } %>
  </ul>
</div>

<form id="search-container" action="/results" method="GET">
  <input 
    type="search"
    id="search" 
    name="search" 
    class="searchBar" 
    style="width: 300px" 
    placeholder="Search for an anime here..."
    required 
  />
  <button class="submit" type="submit">Submit</button>
</form>

<% anime.forEach(a => { %>

  <div class="card-container">
    <div class="card" style="width: 15rem;">
      <img class="card-img-top" src=<%= a.images.jpg.image_url %> alt="Anime Image" style="max-height: 300px;max-width: 300px">
      <div class="card-body">
        <h5 class="card-title">"<em><%= a.title %></em>" </h5>
        <p class="card-text">Total Episodes: <%= a.episodes %> </p>
        <p class="card-text">Air Date: <%= a.aired.string %></p>

        <form method="POST" action="/profile/new">
          <input type="text" value="<%= a.images.jpg.image_url %>" name="image_url" hidden>
          <input type="text" value="<%= a.title %>" name="title" hidden>
          <input type="text" value="<%= a.episodes %>" name="episodes" hidden>
          <input type="text" value="<%= currentUser.id %>" name="userId" hidden>
          <button type="submit" id="watchlist">+ Watchlist</button>
          <a id="infoBtn" href=<%= a.url %>  class="btn btn-primary" target="_blank">More Info</a>
        </form>
      </div>
    </div>
  </div>

<% }); %>  

