<h2>Results</h2>
<% anime.forEach(a => { %>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src=<%= a.images.jpg.image_url %> alt="Anime Image">
    <div class="card-body">
      <h5 class="card-title"><%= a.title %> </h5>
      <p class="card-text">Total Episodes: <%= a.episodes %> </p>
      <p class="card-text">Air Date: <%= a.aired.string %></p>
      <a href=<%= a.url %>  class="btn btn-primary">More Info</a>
    </div>
  </div>

<% }); %>  

